<h1>Create Movie</h1>

<div class="row">
    <div class="col-md-4">
        <form name="formcreatemovie" >
            <div class="form-group">
                <label class="control-label">Title: </label>
                <input class="form-control" name="title"/>
            </div>
            <div class="form-group">
                <label class="control-label">Rating: </label>
                <input class="form-control" name="rating"/>
            </div>
            <div class="form-group">
                <label class="control-label">Release Year: </label>
                <input class="form-control" name="releaseDate"/>
            </div>
            <div class="form-group">
                <label class="control-label">Genre: </label>
                <input class="form-control" name="genre"/>
            </div>
            <div class="form-group">
                <label class="control-label">Price: </label>
                <input class="form-control" name="price"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" onclick="create()"/>
            </div>
        </form>
    </div>
</div>
<a class="btn btn-default" [routerLink]="['/movies']">
    <span></span> Back to List
</a>